# What is Rewards Verification?

<figure><img src="../../.gitbook/assets/image (31).png" alt=""><figcaption></figcaption></figure>



What Is Abusive Behaviour? According to the terms that everyone agrees to when they sign up for Presearch, abusive behaviour includes “…intentionally attempting to earn additional rewards that you would not earn under regular use. For example, running automated programs or bots designed to earn rewards, doing searches more frequently than you would under normal circumstances in an attempt to earn rewards beyond those which would typically be provided, or creating multiple accounts to bypass account limits and restrictions.” This is sometimes described as ‘click, click, clicking’.

We need to ensure that people are not just using Presearch to accumulate tokens without contributing in a way that helps to improve and grow the project.

After months of testing and improvements, Presearch replaced its first-generation Reward Verification System (RVS) with our new RVS.

As of this Monday, February 28th 2022, the legacy RVS has been retired and "eligible tokens" and "PRE levels" are no longer used.

In addition to the removal of the legacy system, you will now notice that the mechanism for accessing your rewards has recently changed from withdrawing your rewards directly to an external wallet once you have earned enough to claim them, to claiming your PRE to your 'savings'. account first, after which you can optionally withdraw money.

This makes the distinction clearer between unclaimed rewards, which you will not be able to claim or use until you reach the minimum activity threshold to claim, and tokens in your savings account that you own and which, for Therefore, they can never expire due to inactivity. Claiming your rewards once they are eligible is a great way to keep them safe and start using them on the platform without incurring fees to transfer them to a blockchain wallet.



### Why has my account been restricted?&#x20;

Presearch created a Reward Verification System (RVS) to guard against those simply trying to collect Presearch tokens and not actually using the search engine correctly. Review the terms, https://www.presearch.org/terms

You may not be aware that using Presearch for the primary purpose of collecting tokens is against the terms of service you have agreed to. Many people watched Youtube videos or joined Presearch without reading the terms.

The key to using Presearch is to use it like you would use Google or any other search engine. Use it when you need to do research, shop online, access your favorite websites, look up sports scores, or search for videos.

Just don't "click, click, click" on the search button.

You can read the full article here: [New Rewards Verification System goes live!](https://news.presearch.io/new-rewards-verification-system-goes-live-5acd68927c33)



### How the claims works?&#x20;

Once you have reached the minimum token threshold, which is currently set at 1000 PRE, you will be able to claim your PRE in your savings account, the complete procedure can be found in the following link

{% embed url="https://app.gitbook.com/o/-MWXXePdhVnzyfNZuOdX/s/-MS4taefedlYJ7UrPHAo/~/changes/189/search-staking-and-usage-rewards/what-are-usage-rewards/how-to-claim-search-rewards" %}

### Factors affecting a review

&#x20;The factors that will impact the direction of a review must necessarily be left vague to protect the platform, but it will depend on the quantity and severity of the flags that the new RVS may have added on your account based upon past activities. When a review is processed, if your account has been flagged and is found to be in violation of the terms of service, then any rewards earned previously will be revoked.

If you are using Presearch just like you would use any other search engine, and not manipulating the system to collect extra rewards, and if you are referring only genuine users through your affiliate link, then your review should be processed quickly and positively.

If your review finds violations of the terms, you are welcome to continue to using your Presearch account, but you will be required to review and reaccept the terms of service prior to continuing. Note that Presearch is a free service that can be used with or without an account. The RVS system is simply there to ensue that those who also wish to earn tokens are earning them fairly according to the terms of service.



###

[\
](https://news.presearch.io/?source=post\_page-----5acd68927c33--------------------------------)
